*{
    margin:0 20 0 20
}
hr{
    border-color: grey;
    border-style: dotted none none;
    /* border-top-style: dotted; */
    border-width:8px;
    width: 10%;
}
.btn1{
    border: snow;
    border-radius: 40px;
    color: black;
  background-color: rgb(86, 214, 203);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.logo{
    height:40px;    
    margin:8px;
    display: flex;
    float:left;
    /* margin-bottom: -5px; */
    
}
.facilitybtn{
    border-radius: 20px;
    margin-left:20px;
    margin-bottom: 5px;
}

.log{
    display: flex;
    float: right;
    margin-left: 1380px;
    margin-top: -45px;
    padding-bottom: 50px;
}

.nav{
    display: flex;
    
}
.abt{
    background-color: rgb(206, 250, 230);
    border: solid;
    border-radius: 30px;
    border-color: #40f4bf;
    margin-top:30px;
    margin-bottom:30px;
}
.abc{
    margin-left: 20px;
    margin-right:10px;
    margin-bottom:20px;
}
.schlinfo{
    /* margin-left:680px; */
    text-align: center;
    margin-top:5px;
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  th {
    background-color: #1de9b6;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px;
  }

  td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  tr:hover {
    background-color: #e3e3e3;
  }

  .class-header {
    background-color: #757575;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px;
  }
 
  .icon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    vertical-align: middle;
  }

  .class1 {
    background-color: #e9db1d;
    color: #fff;
    border-radius: 50%;
    padding: 0.5em;
  }

  .class6 {
    background-color: #4fc3f7;
    color: #fff;
    border-radius: 50%;
    padding: 0.5em;
  }

  .class11 {
    background-color: #9c27b0;
    color: #fff;
    border-radius: 50%;
    padding: 0.5em;
  }
  .navcolor{
    background-color: #1de9b6;
  }

      /* Style the form */
      .formcont {
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #53f9cf;
        margin-bottom: 30px;
      }

      /* Style the form elements */
      label {
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="tel"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
        /* background-color: #280f0f; */
      }

      input[type="submit"] {
        background-color: #13a1de;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
      }

      input[type="submit"]:hover {
        background-color: #5cb8ea;
      }
      .icon-phone {
        font-size: 1.5em;
        margin-right: 0.5em;
      }
      .icon-email {
        font-size: 1.5em;
        margin-right: 0.5em;
      }
      .mno{
        margin-left: 1000px;
      }
      .cntc{
        font-size: larger;
        text-decoration: underline;
}

#testimonials{
    background-color:#ef8172 ;
    border-radius: 30px;
    height: 500px;
}
.testimonial-text{
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
